<div class="editprofileWrap">
    <h3>
        Indstillinger
    </h3>
    <div class="editFormWrap">
        <div class="form-group">
            <div class="form-group" id="toggle-text">
                Tilgængelig til booking
                
                <input id="toggle-example" type="checkbox" name="toggle-example"
                value="1" class="form-toggle" (change)="onCheckboxChange()" />
                <label for="toggle-example" class="form-toggle-label "></label>
            </div>


        </div>
    </div>
</div>