<div class="editprofileWrap">
    <h3>
        Om mig
    </h3>
    <div class="editFormWrap">
        <form [formGroup]="formGroup" *ngIf="type == 'mentor'">
            <div class="col-md-6 editProfileComponent">
                <app-input label="Fornavn" placeholder="Indtast Fornavn" type="text"
                    errorMessage="Indtast venligst et fornavn" hintMessage="eks. Lars" [required]="true"
                    [control]="$any(formGroup.get('first_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Efternavn" placeholder="Indtast Efternavn" type="text"
                    errorMessage="Indtast venligst et efternavn" hintMessage="eks. Hansen" [required]="true"
                    [control]="$any(formGroup.get('last_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Gade/Vej" placeholder="Indtast gade" type="text"
                    errorMessage="Indtast venligst gadenavn" hintMessage="eks. Nørregade" [required]="true"
                    [control]="$any(formGroup.get('street'))">
                </app-input>
            </div>
            <div class="col-md-3 editProfileComponent">
                <app-input label="Husnummer" placeholder="Intast husnummer" type="number"
                    errorMessage="Indtast venligst husnummer" hintMessage="eks. 2" [required]="true"
                    [control]="$any(formGroup.get('street_no'))">
                </app-input>
            </div>
            <div class="col-md-3 editProfileComponent">
                <app-input label="Etage" placeholder="Intast etage" type="text" errorMessage="Indtast venligst etage"
                    hintMessage="eks. 3" [required]="false" [control]="$any(formGroup.get('street_floor'))">
                </app-input>
            </div>
            <div class="col-md-3 editProfileComponent">
                <app-input label="Side" placeholder="Intast side" type="text" errorMessage="Indtast venligst side"
                    hintMessage="eks. th." [required]="false" [control]="$any(formGroup.get('street_side'))">
                </app-input>
            </div>
            <div class="col-md-3 editProfileComponent">
                <app-input label="Postnummer" placeholder="Intast Postnummer" type="number"
                    errorMessage="Indtast venligst postnummer" hintMessage="eks. 4200" [required]="true"
                    [control]="$any(formGroup.get('post_code'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="By" placeholder="Intast by" type="text"
                    errorMessage="Indtast venligst den by du bor i" hintMessage="eks. København" [required]="true"
                    [control]="$any(formGroup.get('city'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Uddannelse" placeholder="Intast Uddannelse" type="text"
                    errorMessage="Indtast venligst din Uddannelse" hintMessage="eks. Pædagog" [required]="true"
                    [control]="$any(formGroup.get('education'))">
                </app-input>
            </div>
            <div class="form-group radioBtn" style="margin-bottom: 30px;">
                <fieldset>
                    <legend class="form-label">Køn</legend>
                    <ul class="nobullet-list">
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-1" type="radio" name="gender" value="1" class="form-radio radio-large "
                                    formControlName="gender" />
                                <label for="radio-1" id="form-label-radio-1" class="">Mand </label>

                            </div>
                        </li>
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-2" type="radio" name="gender" value="2" class="form-radio radio-large "
                                    formControlName="gender" />
                                <label for="radio-2" id="form-label-radio-2" class="">Kvinde </label>

                            </div>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Telefon" placeholder="Intast tlf nummer" type="text"
                    errorMessage="Indtast venligst telefon nummer" hintMessage="+4512341234" [required]="true"
                    [control]="$any(formGroup.get('phone'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Mail" placeholder="Intast mail" type="text"
                    errorMessage="Indtast venligst din mailadresse" hintMessage="lars.hansen@gmail.com"
                    [required]="true" [control]="$any(formGroup.get('email'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="LinkedIn" placeholder="Intast din linkedin profil" type="text"
                    errorMessage="Indtast venligst din mailadresse" hintMessage="linked.com/lars-hansen"
                    [required]="false" [control]="$any(formGroup.get('linkedin'))">
                </app-input>
            </div>

            <div class="form-divider"></div>
            <div class="col-md-6 editProfileComponent">
                <div class="form-group" id="editDescription">
                    <app-text-area label="Beskrivelse om dig som mentor" placeholder="Beskriv dig selv" type="text"
                        errorMessage="Udfyld venligst feltet" hintMessage="Jeg har gennem ..." rows="6" [maxlength]="100"
                        [required]="true" [control]="$any(formGroup.get('description'))">
                    </app-text-area>
                </div>
            </div>



            <div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Dine oplysninger er nu gemt.</p>
                    </div>
                </div>
                <!-- <input type="submit" value="Gem" [disabled]="!formGroup.valid" /> -->
                <div class="btnGroup">
                    <button (click)="updateProfile()" [disabled]="!formGroup.valid" class="save">Gem</button>
                    <!-- <button (click)="reroute()">
                        Se profil
                    </button> -->
                </div>
            </div>

        </form>
        <form [formGroup]="formGroup" *ngIf="type == 'commune'">
            <div class="col-md-6 editProfileComponent">
                <app-input label="Kommune navn" placeholder="Indtast din Kommune" type="text"
                    errorMessage="Indtast venligst din kommune navn" hintMessage="København" [required]="true"
                    [control]="$any(formGroup.get('commune_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Fornavn" placeholder="Indtast Fornavn" type="text"
                    errorMessage="Indtast venligst et fornavn" hintMessage="eks. Lars" [required]="true"
                    [control]="$any(formGroup.get('first_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Efternavn" placeholder="Indtast Efternavn" type="text"
                    errorMessage="Indtast venligst et efternavn" hintMessage="eks. Hansen" [required]="true"
                    [control]="$any(formGroup.get('last_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Telefon" placeholder="Intast tlf nummer" type="text"
                    errorMessage="Indtast venligst telefon nummer" hintMessage="+4512341234" [required]="true"
                    [control]="$any(formGroup.get('phone'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Mail" placeholder="Intast mail" type="text"
                    errorMessage="Indtast venligst din mailadresse" hintMessage="lars.hansen@gmail.com"
                    [required]="true" [control]="$any(formGroup.get('email'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Afdeling" placeholder="Intast din afdeling" type="text"
                    errorMessage="Indtast venligst din afdeling" hintMessage="Ungeafdeling"
                    [required]="true" [control]="$any(formGroup.get('department'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="EAN-nr" placeholder="Intast EAN-nr" type="text"
                    errorMessage="Indtast venligst dit EAN-nr" hintMessage="1234-1234"
                    [required]="true" [control]="$any(formGroup.get('ean_nr'))">
                </app-input>
            </div>
            <div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Dine oplysninger er nu gemt.</p>
                    </div>
                </div>
                <!-- <input type="submit" value="Gem" [disabled]="!formGroup.valid" /> -->
                <div class="btnGroup">
                    <button (click)="updateProfile()" [disabled]="!formGroup.valid" class="save">Gem</button>
                    <!-- <button (click)="reroute()">
                        Se profil
                    </button> -->
                </div>
            </div>

        </form>

        <!--edit profile user-->
        <form [formGroup]="formGroup" *ngIf="type == 'user'">
            <div class="col-md-6 editProfileComponent">
                <app-input label="Fornavn" placeholder="Indtast dit fornavn" type="text"
                    errorMessage="Indtast venligst dit fornavn" hintMessage="eks. Mathias" [required]="true"
                    [control]="$any(formGroup.get('first_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Efternavn" placeholder="Indtast efternavn" type="text"
                    errorMessage="Indtast venligst et efternavn" hintMessage="eks. Hansen" [required]="true"
                    [control]="$any(formGroup.get('last_name'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Gade" placeholder="Indtast gade" type="text"
                    errorMessage="Indtast venligst gade" hintMessage="eks. Abel Cathrinesgade" [required]="true"
                    [control]="$any(formGroup.get('street'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Gade nr" placeholder="Indtast gade nr" type="text"
                    errorMessage="Indtast venligst gade nr" hintMessage="eks. 17"
                    [required]="true" [control]="$any(formGroup.get('street_no'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Side" placeholder="Indtast venligst side" type="text"
                    errorMessage="Indtast venligst hvilken side du bor på" hintMessage="eks. TH"
                    [required]="false" [control]="$any(formGroup.get('street_side'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Postnummer" placeholder="Intast venligst postnummer" type="number"
                    errorMessage="Indtast venligst postnummer" hintMessage="eks. 2620"
                    [required]="true" [control]="$any(formGroup.get('post_code'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="By" placeholder="Indtast venligst by" type="text"
                    errorMessage="Indtast venligst by" hintMessage="eks. Albertslund"
                    [required]="true" [control]="$any(formGroup.get('city'))">
                </app-input>
            </div>
            <div class="form-group radioBtn" style="margin-bottom: 30px;">
                <fieldset>
                    <legend class="form-label">Køn</legend>
                    <ul class="nobullet-list">
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-1" type="radio" name="gender" value="1" class="form-radio radio-large "
                                    formControlName="gender" />
                                <label for="radio-1" id="form-label-radio-1" class="">Mand </label>

                            </div>
                        </li>
                        <li>
                            <div class="form-group-radio">
                                <input id="radio-2" type="radio" name="gender" value="2" class="form-radio radio-large "
                                    formControlName="gender" />
                                <label for="radio-2" id="form-label-radio-2" class="">Kvinde </label>

                            </div>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Telefonnummer" placeholder="Indtast venligst telefonnummer" type="number"
                    errorMessage="Indtast venligst telefonnummer" hintMessage="eks. 12345678"
                    [required]="false" [control]="$any(formGroup.get('phone'))">
                </app-input>
            </div>
            <div class="col-md-6 editProfileComponent">
                <app-input label="Mail" placeholder="Intast mail" type="text"
                    errorMessage="Indtast venligst din mailadresse" hintMessage="lars.hansen@gmail.com"
                    [required]="true" [control]="$any(formGroup.get('email'))">
                </app-input>
            </div>
            <div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Dine oplysninger er nu gemt.</p>
                    </div>
                </div>
                <!-- <input type="submit" value="Gem" [disabled]="!formGroup.valid" /> -->
                <div class="btnGroup">
                    <button (click)="updateProfile()" [disabled]="!formGroup.valid" class="save">Gem</button>
                    <!-- <button (click)="reroute()">
                        Se profil
                    </button> -->
                </div>
            </div>
        </form>

    </div>
</div>