<!-- header start  -->
<header class="header">
    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <!-- Start: Løsningsheader -->
    <div class="solution-header">
        <div class="container solution-header-inner justify-content-between">
            <div class="site-logo">
                <a routerLink="/">
                    <img src="assets/images/findmentor-logo.png" alt="">
                </a>
            </div>
            <div class="mobile-nav-btn">
                <button *ngIf="signInCondition ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z" fill="black"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 14.0902 3.71255 16.014 4.90798 17.5417C6.55245 15.3889 9.14627 14 12.0645 14C14.9448 14 17.5092 15.3531 19.1565 17.4583C20.313 15.9443 21 14.0524 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 21C9.84977 21 7.87565 20.2459 6.32767 18.9878C7.59352 17.1812 9.69106 16 12.0645 16C14.4084 16 16.4833 17.1521 17.7538 18.9209C16.1939 20.2191 14.1881 21 12 21Z" fill="black"/>
                      </svg>
                  </button>
                  <button class="mail" *ngIf="signInCondition">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 75.294 75.294" style="enable-background:new 0 0 75.294 75.294;" xml:space="preserve">
                      <g>
                        <path d="M66.097,12.089h-56.9C4.126,12.089,0,16.215,0,21.286v32.722c0,5.071,4.126,9.197,9.197,9.197h56.9   c5.071,0,9.197-4.126,9.197-9.197V21.287C75.295,16.215,71.169,12.089,66.097,12.089z M61.603,18.089L37.647,33.523L13.691,18.089   H61.603z M66.097,57.206h-56.9C7.434,57.206,6,55.771,6,54.009V21.457l29.796,19.16c0.04,0.025,0.083,0.042,0.124,0.065   c0.043,0.024,0.087,0.047,0.131,0.069c0.231,0.119,0.469,0.215,0.712,0.278c0.025,0.007,0.05,0.01,0.075,0.016   c0.267,0.063,0.537,0.102,0.807,0.102c0.001,0,0.002,0,0.002,0c0.002,0,0.003,0,0.004,0c0.27,0,0.54-0.038,0.807-0.102   c0.025-0.006,0.05-0.009,0.075-0.016c0.243-0.063,0.48-0.159,0.712-0.278c0.044-0.022,0.088-0.045,0.131-0.069   c0.041-0.023,0.084-0.04,0.124-0.065l29.796-19.16v32.551C69.295,55.771,67.86,57.206,66.097,57.206z"/>
                      </g>
                      </svg>
                  </button>
                  <button class="" (click)="load()" *ngIf="signInCondition || isSmallScreen"><svg  (click)="load()" _ngcontent-oto-c65="" focusable="false" aria-hidden="true" class="icon-svg"><use _ngcontent-oto-c65="" xlink:href="#menu"></use></svg><svg _ngcontent-oto-c65="" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px"><path _ngcontent-oto-c65="" d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"></path></svg></button>
                <!-- <button style="width: 30px;" class="function-link button-menu-open js-menu-open ml-auto secondary-toggle"><i class="icon icon-menu"></i> -->
                <!-- </button> -->
            </div>
            <!--2B: Solution header: Authority name + text -->
            <div class="solution-info" *ngIf="!signInCondition">
                <ul class="nav-primary align-items-center">
                    <!-- TODO: uncomment this -->
                    <!-- <li>
                        <a routerLink="/find-mentor" class="nav-link" title="Designsystem">
                            <span>Find mentor</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/hvad-er-en-mentor" class="nav-link" title="Hvad er en mentor">
                            <span>Hvad er en mentor</span>
                        </a>
                    </li>
                    <!-- TODO: uncomment this -->
                    <!-- <li>
                        <a href="#" class="nav-link" title="Kom godt i gang">
                            <span>Sådan virker det</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/bliv-mentor" class="nav-link" title="Bliv mentor">
                            <span>Bliv mentor</span>
                        </a>
                    </li>
                    <!-- TODO: uncomment this -->
                    <!-- <li class="current">
                        <label class="dropdown">

                            <div class="dd-button">
                                Login
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z"
                                        fill="currentColor" />
                                </svg>
                            </div>

                            <input type="checkbox" class="dd-input" id="test">

                            <ul class="dd-menu">
                                <li><span (click)="signIn()">Sign In</span></li>
                                <li>Another action</li>
                                <li>Something else here</li>

                            </ul>

                        </label>
                    </li>
                    <li>
                        <div class="overflow-menu green align-items-center">
                            <button routerLink="create-account">
                                Opret bruger
                            </button>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- Slut: Løsningsheader -->

    <!-- login navigation  -->

    <!-- login navigation end  -->
    <!-- Start: Navigation -->

    <nav class="nav login" [ngClass]="{'is-visible' : isNav}">
        <div class="mobile-menu-topbar  justify-content-between">
            <div class="mobile-menu-text d-flex">
                <p>Menu</p>
                <div class="topbar-divider"></div>
                <p>findmentor.dk</p>
            </div>
            <div class="mobile-menu-close-btn">
                <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu" (click)="removeHamburger()">X</button>
            </div>
        </div>






        <!-- 5: Contextual actions-->
        <div class="mobile-menu">
            <div class="navbar">
                <div class="navbar-inner container navbar-context-actions">
                    <div class="title">
                        <h4>
                            Alle emner
                        </h4>
                    </div>
                    <div class="nav-actions mobile-menu-links">
                        <a routerLink="/hvad-er-en-mentor" class="function-link"><i class="icon icon-home"></i> Hvad er en mentor</a>
                        <a routerLink="/bliv-mentor" class="function-link"><i class="icon icon-person"></i> Bliv mentor</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5: Contextual actions end-->



    </nav>
    <!-- Slut: Navigation -->
</header>

<!-- header end  -->