<!-- header start  -->
<header class="header">
    <a class="skipnav" href="#main-content">Gå til sidens indhold</a>

    <!-- Start: Løsningsheader -->
    <div class="solution-header">
        <div class="container solution-header-inner justify-content-between">
            <div class="site-logo">
                <a routerLink="/">
                    <img src="assets/images/findmentor-logo.png" alt="">
                </a>
            </div>
            <div class="mobile-nav-btn">
                <button style="width: 30px;" class="function-link button-menu-open js-menu-open ml-auto secondary-toggle"><i class="icon icon-menu"></i>
                </button>
            </div>
            <!--2B: Solution header: Authority name + text -->
            <div class="solution-info">
                <ul class="nav-primary align-items-center">
                    <!-- TODO: uncomment this -->
                    <!-- <li>
                        <a routerLink="/find-mentor" class="nav-link" title="Designsystem">
                            <span>Find mentor</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/hvad-er-en-mentor" class="nav-link" title="Hvad er en mentor">
                            <span>Hvad er en mentor</span>
                        </a>
                    </li>
                    <!-- TODO: uncomment this -->
                    <!-- <li>
                        <a href="#" class="nav-link" title="Kom godt i gang">
                            <span>Sådan virker det</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/bliv-mentor" class="nav-link" title="Bliv mentor">
                            <span>Bliv mentor</span>
                        </a>
                    </li>
                    <!-- TODO: uncomment this -->
                    <!-- <li class="current">
                        <label class="dropdown">

                            <div class="dd-button">
                                Login
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z"
                                        fill="currentColor" />
                                </svg>
                            </div>

                            <input type="checkbox" class="dd-input" id="test">

                            <ul class="dd-menu">
                                <li><span (click)="signIn()">Sign In</span></li>
                                <li>Another action</li>
                                <li>Something else here</li>

                            </ul>

                        </label>
                    </li>
                    <li>
                        <div class="overflow-menu green align-items-center">
                            <button routerLink="create-account">
                                Opret bruger
                            </button>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- Slut: Løsningsheader -->

    <!-- login navigation  -->

    <!-- login navigation end  -->
    <!-- Start: Navigation -->

    <nav class="nav login">
        <div class="mobile-menu-topbar  justify-content-between">
            <div class="mobile-menu-text d-flex">
                <p>Menu</p>
                <div class="topbar-divider"></div>
                <p>findmentor.dk</p>
            </div>
            <div class="mobile-menu-close-btn">
                <button class="function-link button-menu-close js-menu-close " title="Luk mobil menu">X</button>
            </div>
        </div>






        <!-- 5: Contextual actions-->
        <div class="mobile-menu">
            <div class="navbar">
                <div class="navbar-inner container navbar-context-actions">
                    <div class="title">
                        <h4>
                            Alle emner
                        </h4>
                    </div>
                    <div class="nav-actions mobile-menu-links">
                        <a routerLink="/hvad-er-en-mentor" class="function-link"><i class="icon icon-home"></i> Hvad er en mentor</a>
                        <a routerLink="/bliv-mentor" class="function-link"><i class="icon icon-person"></i> Bliv mentor</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5: Contextual actions end-->



    </nav>
    <!-- Slut: Navigation -->
</header>

<!-- header end  -->