<!-- header start  -->
<header class="header">
    <!-- Start: Løsningsheader -->
    <div class="portal-header portal-header-compact solution-header">
        <div class="container solution-header-inner justify-content-between">
            <div class="site-logo">
                <a routerLink="/">
                    <img src="assets/images/findmentor-logo.png" alt="">
                </a>
            </div>
            <div class="portal-info" *ngIf="!isSmallScreen && signInCondition">
                <p class="user">
                    <span class="name">{{ name }}</span>
                </p>
                <button (click)="logout()"
                    class="button button-secondary alert-leave d-print-none">
                    Log af
                </button>
            </div>
            <div class="mobile-nav-btn">
                  <button class="" (click)="load()" *ngIf="isSmallScreen"><svg  (click)="load()" _ngcontent-oto-c65="" focusable="false" aria-hidden="true" class="icon-svg"><use _ngcontent-oto-c65="" xlink:href="#menu"></use></svg><svg _ngcontent-oto-c65="" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px"><path _ngcontent-oto-c65="" d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"></path></svg></button>
            </div>
            <!--2B: Solution header: Authority name + text -->
            <div class="solution-info " *ngIf="!signInCondition">
                <ul class="nav-primary align-items-center">
                    <!-- TODO: uncomment this -->
                    <li>
                        <a routerLink="/hvad-er-en-mentor" class="nav-link" title="Hvad er en mentor">
                            <span>Hvad er en mentor</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/bliv-mentor" class="nav-link" title="Bliv mentor">
                            <span>Bliv mentor</span>
                        </a>
                    </li>
                    <li>
                        <button routerLink="/auth/login-account" class="button button-secondary alert-leave d-print-none" title="Designsystem">
                            Login
                        </button>
                    </li>
                    <li>
                        <button routerLink="/auth/create-account" class="button button-create alert-leave d-print-none" title="Designsystem">
                            Opret bruger
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Slut: Løsningsheader -->

    <!-- login navigation  -->

    <!-- login navigation end  -->
    <!-- Start: Navigation -->

    <nav class="nav login" [ngClass]="{'is-visible' : isNav}">
        <div class="mobile-menu-topbar  justify-content-between">
            <div class="mobile-menu-text d-flex">
                <p>Menu</p>
                <div class="topbar-divider"></div>
                <p>findmentor.dk</p>
            </div>
            <div class="mobile-menu-close-btn">
                <button class="function-link button-menu-close js-menu-close" title="Luk mobil menu" (click)="removeHamburger()">X</button>
            </div>
        </div>
        <!-- 5: Contextual actions-->
        <div class="mobile-menu">
            <div class="navbar" *ngIf="!signInCondition">
                <div class="navbar-inner container navbar-context-actions">
                    <div class="nav-actions mobile-menu-links">
                        <a routerLink="/hvad-er-en-mentor" class="function-link"> Hvad er en mentor?</a>
                        <a routerLink="/bliv-mentor" class="function-link"> Bliv mentor</a>
                        <button id="login" routerLink="/auth/login-account" class="button button-secondary alert-leave d-print-none" title="Designsystem">
                            Login
                        </button>
                        <button id="create-account" routerLink="/auth/create-account" class="button button-create alert-leave d-print-none" title="Designsystem">
                            Opret bruger
                        </button>
                    </div>
                </div>
            </div>
            <div class="navbar" *ngIf="signInCondition && isSmallScreen">
                <div class="navbar-inner container navbar-context-actions">
                    <div class="nav-actions mobile-menu-links" *ngIf="type == 'mentor'">
                        <a routerLink="/overview"  routerLinkActive="active" class="function-link">Mit overblik</a>
                        <a routerLink="/overview"  routerLinkActive="active" class="function-link">Klienter</a>
                        <a routerLink="/overview"  routerLinkActive="active" class="function-link">Kalender</a>
                        <a routerLink="/overview"  routerLinkActive="active" class="function-link">Fakturering</a>
                        <a routerLink="/overview"  routerLinkActive="active" class="function-link">Ressourcer</a>
                        <a routerLink="/profile" routerLinkActive="active" class="function-link">Profil</a>
                            <div class="form-group" id="toggle-text">
                                Tilgængelig til booking
                                <input id="toggle-example" type="checkbox" name="toggle-example" [(ngModel)]="isAvailable"
                                value="1" class="form-toggle"[style]="" (change)="onCheckboxChange()" />
                                <label for="toggle-example" class="form-toggle-label "></label>
                            </div>
                    </div>
                    <button id="log-out" (click)="logout()"
                        class="button button-secondary alert-leave d-print-none">
                        Log af
                    </button>
                </div>
            </div>
        </div>
        <!-- 5: Contextual actions end-->



    </nav>
    <!-- Slut: Navigation -->
</header>

<!-- header end  -->