<div class="signUpForm row align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
               <div class="heading-content">
                <h1 class="text-center mt-0 mx-auto pageTitle">
                    Login
                </h1>
               </div>
            </div>
        </div>
        <form [formGroup]="formGroup">
            <div class="formWrap">
                <div class="card">
                    <div class="card-header">
                        <h2 class="header-title">Indtast din email, så får du et login link til din mail.</h2>
                    </div>
                    <div class="card-text">
                        <app-input label="Email" placeholder="Indtast email" type="text"
                            errorMessage="Indtast din mail korrekt" hintMessage="eks. lars.hansen@gmail.com"
                            [required]="true" [control]="$any(formGroup.get('email'))">
                        </app-input>
                    </div>
                    <div class="card-footer card-action">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btnWrap">
                                    <button (click)="login()">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                            <div class="alert-body">
                                <p class="alert-heading">Fejl</p>
                                <p class="alert-text">{{ errorMessage }}</p>
                            </div>
                        </div>
                        <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                            <div class="alert-body">
                                <p class="alert-heading">Success</p>
                                <p class="alert-text">Du er nu oprettet. Venligst klik på linket 
                                på den mail du har modtaget for at logge ind</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>