<div class="editprofileWrap">
    <h3>
        Min tilgang
    </h3>
    <div class="editFormWrap">
        <form [formGroup]="formGroup" *ngIf="type == 'mentor'">
            <div class="col-md-6 editProfileComponent">
                <app-text-area label="Beskriv din tilgang" placeholder="Beskriv dig selv" type="text"
                    errorMessage="Udfyld venligst feltet" hintMessage="Jeg har gennem ..." rows="6" [maxlength]="500"
                    [required]="true" [control]="$any(formGroup.get('approach'))">
                </app-text-area>
            </div>
            <div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Dine oplysninger er nu gemt.</p>
                    </div>
                </div>
                <!-- <input type="submit" value="Gem" [disabled]="!formGroup.valid" /> -->
                <div class="btnGroup">
                    <button (click)="updateApproach()" [disabled]="!formGroup.valid" class="save">Gem</button>
                    <!-- <button (click)="reroute()">
                        Se profil
                    </button> -->
                </div>
            </div>
        </form>
    </div>
</div>