<app-secondary-navigation></app-secondary-navigation>
<div class="main-content">
  <div class="container">
    <!-- search bar top   -->
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap">
          <div class="searchInput">
            <div class="icon">
              <img class="" src="{{ assetPath }}/svgs/svg-icons/search.svg">
            </div>
            <ng-select [multiple]="false" [(ngModel)]="selectedMentorType" [searchable]="false" notFoundText="Ingen resultater"
              placeholder="Hvilken type mentor ønsker du?">
              <ng-option *ngFor="let tags of searchArr" [value]="tags.id">{{tags.name}}</ng-option>
            </ng-select>
          </div>
          <div class="locationInput">
            <div class="icon">
              <img class=""src="{{ assetPath }}/svgs/svg-icons/location-on.svg">
            </div>
            <ng-select [multiple]="false" [(ngModel)]="selectedLocationArr" [searchable]="false" notFoundText="Ingen resultater"
              placeholder="Hvor skal du bruge en mentor">
              <ng-option *ngFor="let location of locationArr" [value]="location.id">{{location.name}}</ng-option>
            </ng-select>
          </div>
          <div class="btn-wrap">
            <button (click)="searchMentors()">
              Find Mentor
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- search bar top   end-->
    <!-- results and filters  -->
    <div class="row mt-5">
      <!-- filters column  -->
      <div class="col-md-3 d-flex justify-content-between align-items-center align-items-md-start">
        <div class="dropdown-container">
          <input type="checkbox" id="drop" />
          <label class="filter-label" for="drop">Filters</label>
          <div class="dropdown-filter-wrap">
            <div class="filters">
              <div class="supportFilter">
                <h3>
                  Kompetencer
                </h3>
                <div class="filter-wrap">
                  <ng-select [multiple]="true" placeholder="Vælg kompetencer"
                  notFoundText="Ingen resultater" [(ngModel)]="selectedTypeForm">
                    <ng-option *ngFor="let type of typeForm" [value]="type.id">{{type.name}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <!-- <div class="regionFilter">
                <h3>
                  Region
                </h3>
                <div class="filter-wrap">
                  <ng-select [multiple]="true" placeholder="Vælg Region" notFoundText="Ingen resultater" [(ngModel)]="selectedLocationArr">
                    <ng-option *ngFor="let location of locationArr"
                      [value]="location.id">{{location.name}}</ng-option>
                  </ng-select>
                </div>
              </div> -->
              <div class="languageFilter">
                <h3>
                  Sprog
                </h3>
                <div class="filter-wrap">
                  <ng-select [multiple]="true" placeholder="Vælg Sprog" [searchable]="false" notFoundText="Ingen Resulateter" [(ngModel)]="selectedLanguage">
                    <ng-option *ngFor="let language of languages" [value]="language.id">{{language.name}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="checkbox-wrap">
                <div class="audienceCheckbox">
                  <div class="checkboxTitle">
                    <b class="mb-0">
                      Målgruppe
                    </b>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="barn" (change)="updateArray(1, selectedTarget)">
                    <label for="barn">Barn (-15)</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="unge" (change)="updateArray(2, selectedTarget)">
                    <label for="unge">Unge (16-18)</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="voksen" (change)="updateArray(3, selectedTarget)">
                    <label for="voksen">Voksen (18+)</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="par" (change)="updateArray(4, selectedTarget)">
                    <label for="par">Par</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="familie" (change)="updateArray(5, selectedTarget)">
                    <label for="familie">Familie</label>
                  </div>
                </div>
                <div class="mentorGender">
                  <div class="checkboxTitle">
                    <b class="mb-0">
                      Mentor køn
                    </b>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="mand" (change)="updateArray(1, selectedGender)">
                    <label for="mand">Mand</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="kvinde" (change)="updateArray(2, selectedGender)">
                    <label for="kvinde">Kvinde</label>
                  </div>
                </div>
                <div class="contact-form">
                  <div class="checkboxTitle">
                    <b class="mb-0">
                      Kontaktform
                    </b>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="personlig" (change)="updateArray(1, selectedContact)">
                    <label for="personlig">Personlig</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="telefonisk" (change)="updateArray(2, selectedContact)">
                    <label for="telefonisk">Telefonisk</label>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" id="online" (change)="updateArray(3, selectedContact)">
                    <label for="online">Online</label>
                  </div>
                </div>

              </div>

              <!-- reset button  -->
              <div class="reset-btn">
                <button class="btn btn-outline-dark" (click)="resetURL()">
                  Ryd filtre
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="sortBy d-flex justify-content-end d-block d-md-none">
          <p _ngcontent-lpe-c63="" class="m-0">Sortér efter:</p><select _ngcontent-lpe-c63="">
            <option _ngcontent-lpe-c63="" value="anbefalet" ng-reflect-value="anbefalet">Anbefalet</option>
          </select>
        </div> -->


      </div>
      <!-- filters column  end-->
      <!-- results column  -->
      <div class="col-md-9">
        <div class="result-wrap px-4">
          <div class="results-container">
            <app-mentor-list
              [index]="index"
              [selectedMentorType]="selectedMentorType"
              [selectedGender]="selectedGender"
              [selectedLocationArr]="selectedLocationArr"
              [selectedTypeForm]="selectedTypeForm"
              [selectedLanguage]="selectedLanguage"
              [selectedContact]="selectedContact"
              [selectedTarget]="selectedTarget"
              [mentors]="mentors"
              >
            </app-mentor-list>
          </div>
        </div>
      </div>
      <!-- results column end  -->
    </div>
    <!-- results and filters end   -->
  </div>
</div>