<div #modalCall class="fds-modal" id="modal-example2"  [attr.aria-hidden]="!isModalVisible" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-example-title">
                Ring mig op
            </h3>
            <button class="modal-close function-link" (click)="closeCall()"
                data-modal-close>X</button>
        </div>
        <form [formGroup]="formGroupCall">
            <div class="modal-body">
                <div class="col-md-6">
                    <app-input label="Hvad nummer vil du træffes på" placeholder="Telefon nr" type="text"
                    errorMessage="Indtast venligst et gyldigt telefon nummer" hintMessage="50501010"
                    [required]="true" [control]="$any(formGroupCall.get('phone_to_call'))">
                    </app-input>
                </div>
                <div class="col-md-3">
                    <app-input label="Tidsrum fra" placeholder="Telefon nr" type="time"
                    errorMessage="Indtast venligst klokkeslæt" hintMessage="12.00"
                    [required]="true" [control]="$any(formGroupCall.get('from'))">
                    </app-input>
                </div>
                <div class="col-md-3">
                    <app-input label="Tidsrum til" placeholder="Telefon nr" type="time"
                    errorMessage="Indtast venligst klokkeslæt" hintMessage="12.00"
                    [required]="true" [control]="$any(formGroupCall.get('to'))">
                    </app-input>
                </div>
            </div>
            <hr class="divider">
            <div class="modal-footer">
                <div class="col-md-12">
                    <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Fejl</p>
                            <p class="alert-text">{{ errorMessage }}</p>
                        </div>
                    </div>
                    <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Success</p>
                            <p class="alert-text">Din anmodning om at blive ringet op er nu sendt..</p>
                        </div>
                    </div>
                    <div class="btnGroup">
                        <button class="cancel" (click)="closeCall()" data-modal-close>Annuller</button>
                        <button (click)="bookCall()" [disabled]="!formGroupCall.valid" class="save">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>