<div class="signUpForm row align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="heading-content">
                    <h1 class="text-center mt-0 mx-auto pageTitle">
                        Opret bruger
                    </h1>
                </div>
            </div>
        </div>
        <form [formGroup]="formGroup">
            <div class="formWrap">
                <div class="row">
                    <div class="col-md-6">
                        <app-input label="Fornavn" placeholder="Indtast Fornavn" type="text"
                        errorMessage="Indtast venligst et fornavn" hintMessage="eks. Lars"
                        [required]="true" [control]="$any(formGroup.get('first_name'))">
                    </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="Efternavn" placeholder="Indtast efternavn" type="text"
                            errorMessage="Indtast venligst et efternavn" hintMessage="eks. Larsen"
                            [required]="true" [control]="$any(formGroup.get('last_name'))">
                        </app-input>
                    </div>
                </div><!--Row Ended-->
                <div class="row">
                    <div class="col-md-6">
                        <app-input label="Adresse" placeholder="Indtast din adresse" type="text"
                            errorMessage="Indtast venligst en korrekt adresse" hintMessage="eks Amagergade 1 st tv"
                            [required]="true" [control]="$any(formGroup.get('street'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="By" placeholder="Indtast din by" type="text"
                            errorMessage="Indtast venligst en by" hintMessage="eks København"
                            [required]="true" [control]="$any(formGroup.get('city'))">
                        </app-input>
                    </div>
                </div> <!--Row Ended-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group radioBtn">
                            <fieldset>
                                <legend class="form-label">Køn</legend>
                                <ul class="nobullet-list">
                                    <li>
                                        <div class="form-group-radio">
                                            <input id="radio-1" type="radio" name="gender" value="1"
                                                class="form-radio radio-large " formControlName="gender"/>
                                            <label for="radio-1" id="form-label-radio-1" class="">Mand </label>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group-radio">
                                            <input id="radio-2" type="radio" name="gender" value="2"
                                                class="form-radio radio-large " formControlName="gender" />
                                            <label for="radio-2" id="form-label-radio-2" class="">Kvinde </label>

                                        </div>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                </div><!--Row Ended-->
                <div class="row">
                    <div class="col-md-6">
                        <app-input label="Telefon" placeholder="Indtast dit tlf nr" type="text"
                            errorMessage="Indtast din mobil korrekt" hintMessage="+45 12345678"
                            [required]="true" [control]="$any(formGroup.get('phone'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="Email" placeholder="Indtast email" type="text"
                            errorMessage="Indtast din mail korrekt" hintMessage="eks. lars.hansen@gmail.com"
                            [required]="true" [control]="$any(formGroup.get('email'))">
                        </app-input>
                    </div>

                </div> <!--Row Ended-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnWrap">
                            <button (click)="signup()" [disabled]="!formGroup.valid">
                                Tilmeld
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Du er nu oprettet. Venligst klik på linket 
                        på den mail du har modtaget for at logge ind</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>