textarea {
    max-width: 100%;
    margin-bottom: 25px;
    resize: none;
}

.form-label {
    font-weight: 600;
    color: #404040;
    font-size: 18px;
}

.textarea-wrapper {
    position:relative;
 }
 .count {
 position:absolute;
 bottom: 10px;
 right:10px;
 }
