<div class="profileSidebar">
    <h3>
        Profil
    </h3>
    <div class="sideNavigation" *ngIf="type == 'mentor'">
        <ul>
            <li [ngClass]="{isDone: profileIsCompleted()}">
                <a routerLink="edit" routerLinkActive="active">
                    Om mig
                </a>
            </li>
            <li><a>
                Meddelelse
            </a></li>
            <li><a >
                Primære klientgruppe
            </a></li>
            <li [ngClass]="{isDone: user.contacts.length > 0}">
                <a routerLink="contact" routerLinkActive="active">
                    Kontaktform
                </a>
            </li>
            <li [ngClass]="{isDone: user.experiences.length > 0}">
                <a routerLink="experience" routerLinkActive="active">
                    Erfaring
                </a>
            </li>
            <li [ngClass]="{isDone: user.languages.length > 0}">
                <a routerLink="language" routerLinkActive="active">
                    Sprog
                </a>
            </li>
            <li><a>
                Erfaringsområder
            </a></li>
            <li><a>
                Min tilgang
            </a></li>
            <li [ngClass]="{isDone: user.profile_picture}">
                <a routerLink="image" routerLinkActive="active">
                    Billeder og video
                </a>
            </li>
            <li><a>
                Hvor jeg arbejder
            </a></li>
            <li><a>
                Priser
            </a></li>
            <li><a routerLink="settings" routerLinkActive="active">
                Indstillinger
            </a></li>
        </ul>
    </div>
    <div class="sideNavigation" *ngIf="type == 'commune'">
        <ul>
            <li [ngClass]="{isDone: profileIsCompleted()}">
                <a routerLink="edit" routerLinkActive="active">
                    Om mig
                </a>
            </li>
            <li><a routerLink="settings" routerLinkActive="active">
                Indstillinger
            </a></li>
        </ul>
    </div>
</div>