<div class="profileSidebar">
    <h3>
        Profil
    </h3>
    <div class="sideNavigation">
        <ul>
            <li>
                <a routerLink="edit" routerLinkActive="active">
                    Om mig
                </a>
            </li>
            <li><a>
                Meddelelse
            </a></li>
            <li><a >
                Primære klientgruppe
            </a></li>
            <li><a>
                Kontaktform
            </a></li>
            <li><a routerLink="experience" routerLinkActive="active">
                Erfaring
            </a></li>
            <li>
                <a >
                    Sprog
                </a>
            </li>
            <li><a>
                Erfaringsområder
            </a></li>
            <li><a>
                Min tilgang
            </a></li>
            <li><a routerLink="image" routerLinkActive="active">
                Billeder og video
            </a></li>
            <li><a>
                Hvor jeg arbejder
            </a></li>
            <li><a>
                Priser
            </a></li>
            <li><a>
                Indstillinger
            </a></li>
        </ul>
    </div>
</div>