.profileSidebar{
    padding-top: 40px;
}
.profileSidebar h3{
    margin: 0;
}
.profileSidebar ul{
    list-style: none;
    padding: 0;
    padding-top: 5px;
}
.profileSidebar ul li{
    padding: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.profileSidebar ul li:not(:last-child){    
    border-bottom: 2px solid #afafaf;
}
.profileSidebar ul li:last-child{
    border-bottom: 2px solid #7c7c7c;
}
.profileSidebar ul li::before{
    display: none;
}
.profileSidebar ul li a{
    color: #000;
    text-decoration: none;
}
.profileSidebar ul li a.active{
    font-weight: 700;
}

@media screen and (max-width:992px) {
    .profileSidebar{
        padding-top: 0px;
    }
}

li.isDone {
    position: relative; /* Set the position property for the li element */
}

li.isDone::after {
    content: '✔'; /* Unicode checkmark character */
    color: #abcfb2; /* Change the color of the checkmark */
    position: absolute; /* Set the position property for the checkmark */
    right: 0; /* Place the checkmark on the right side */
    top: 50%; /* Center the checkmark vertically */
    transform: translateY(-50%); /* Adjust the checkmark's vertical position */
    font-weight: bold; /* Make the checkmark bold */
  }