<div class="editprofileWrap">
    <h3>
        Pris
    </h3>
    <div class="editFormWrap">
        <form [formGroup]="formGroup" *ngIf="type == 'mentor'">
            <div class="col-md-6 editProfileComponent form-input-wrapper form-input-wrapper--suffix">
                <app-input label="Pris" placeholder="Indtast venligst din time pris" type="number"
                    errorMessage="Indtast din time pris" hintMessage="eks. 250" [required]="true"
                    [control]="$any(formGroup.get('price'))">
                </app-input>
                <div class="form-input-suffix" aria-hidden="true">DKK</div>
            </div>
            <!-- FJERN NÅR KOMMUNER SKAL MED -->
            <!-- <div class="alert alert-warning" role="alert">
                <div class="alert-body">
                    <h3 class="alert-heading">Advarsel</h3>
                    <p class="alert-text">Husk at prisen for kommunen er 10% mindre, men det udregnes automatisk.</p>
                </div>
            </div> -->
            <div>
                <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Fejl</p>
                        <p class="alert-text">{{ errorMessage }}</p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                    <div class="alert-body">
                        <p class="alert-heading">Success</p>
                        <p class="alert-text">Dine oplysninger er nu gemt.</p>
                    </div>
                </div>
                <!-- <input type="submit" value="Gem" [disabled]="!formGroup.valid" /> -->
                <div class="btnGroup">
                    <button (click)="updatePrice()" [disabled]="!formGroup.valid" class="save">Gem</button>
                    <!-- <button (click)="reroute()">
                        Se profil
                    </button> -->
                </div>
            </div>
        </form>
    </div>
</div>