<!-- banner start  -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="left-content">
                    <div class="heading">
                        <h1 class="align-text-center align-text-lg-left">
                            Boost din synlighed <br class="d-none d-lg-block ">
                            & tilgændelighed online
                        </h1>
                        <h4>Spar tid og ressourcer</h4>
                        <ul class="icon-list">
                            <li><i class="icon icon-done"></i> Få flere klienterhenvisninger</li>
                            <li><i class="icon icon-done"></i> Spar kræfter og ressourcer på markedsføring</li>
                            <li><i class="icon icon-done"></i> Frigiv tid til kerneopgaven</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="images-wrap">
                    <div class="img">
                        <img src="assets/images/bliv-mentor.png" alt="">
                    </div>
                    <div class="img">
                        <img src="assets/images/image-2-default.png" alt="">
                    </div>
                    <div class="img">
                        <img src="assets/images/image-3-default.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end  -->
<!-- What we can do for you / Requirements from you  -->
<div class="get-help">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h3>Hvad kan Findmentor for dig</h3>
                    <p>
                        Find Mentor er en formidlingstjeneste. Platformen muliggør private og
                        kommunale personer, såsom vejledere, sagsbehandlere og fagpersoner,
                        at booke mentorstøtte.
                    </p>
                    <p>
                        Vi arbejder med gennemsigtighed; klienter kan se alle mentorer på platformen
                        let og gratis, inden de træffer deres egen beslutning om booking.
                    </p>
                    <p>
                        Du informeres om, hvordan og hvor din proﬁl vises i søgeresultaterne.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3>Krav til dig</h3>
                    <p>
                        Vi har ud fra vores erfaringer i branchen og grundige overvejelser opsat
                        en række krav for, at sikre en høj faglig standard.
                        For at kunne tilmelde sig portalen og blive synlig, så kræver det at
                        mentor/virksomheden er registreret med et cvr-nr.
                    </p>
                    <p>
                        Derudover screener vi manuelt alle mentorer tilknyttet platformen.
                        Herunder tjekkes der dokumentation for faglige kompetencer
                        og arbejdserfaringer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- What we can do for you / Requirements from you End  -->
<!-- Why you should join  -->
<div class="how-does-it-work">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h3>Derfor skal du skrive dig op</h3>
                    <ul class="icon-list">
                        <li><i class="icon icon-done"></i> GRATIS og uforpligtende.</li>
                        <li><i class="icon icon-done"></i> Vi formidler kontakten til klienter og du har fri adgang til dem.</li>
                        <li><i class="icon icon-done"></i> Du er freelancer og derfor ikke ansat hos os.</li>
                        <li><i class="icon icon-done"></i> Vi sørger for online markedsføring og søgemaskineoptimering af platformen.</li>
                        <li><i class="icon icon-done"></i> Herunder sociale medier, Google Ads, retargeting, nyhedsbreve m.v.</li>
                        <li><i class="icon icon-done"></i> Automatisk synlighed på hovedportalen efter screening og mulighed</li>
                        <li><i class="icon icon-done"></i> for tilvalg af kommunens lukkede platform.</li>
                        <li><i class="icon icon-done"></i> Fokuser på dit arbejde.</li>
                        <li><i class="icon icon-done"></i> Opsætning af SMS-påmindelser.</li>
                        <li><i class="icon icon-done"></i> Hold øje med alle dine sager, i din proﬁl.</li>
                        <li><i class="icon icon-done"></i> Dit personlige kontrolpanel, der viser antal proﬁlvisninger, forespørgsler,</li>
                        <li><i class="icon icon-done"></i> deling af din proﬁl opkald og e-mails.</li>
                        <li><i class="icon icon-done"></i> En sikker platform for dig, kommunen og dine klienter,</li>
                        <li><i class="icon icon-done"></i> hvor al kommunikation og opgaver foregår.</li>
                        <li><i class="icon icon-done"></i> Findmentor.dk platformen overholder alle GDPR-krav.</li>
                        <li><i class="icon icon-done"></i> Kommuniker og send dokumenter sikkert, til sagsbehandlere.</li>
                        <li><i class="icon icon-done"></i> Vi har og laver løbende aftaler med kommuner.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-does-it-work-img">
                    <img src="assets/images/why-you-should-join.JPG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why you should join End  -->
<!-- Get Started  -->
<div class="get-started">
    <div class="container">
        <div class="row">
            <div class="col-md-6  mx-auto">
                <div class="content align-text-center">
                    <h3>Tilmeld dig vores platform og bliv mere synlig</h3>
                    <p>
                        Spar dine ressourcer, bliv mere synlig og fokuser på kerneopgaven,
                        mens vi hjælper dig med, at øge din kundekreds
                    </p>
                    <div class="btn-group">
                        <button>Tilmeld dig nu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get Started end  -->