<app-secondary-navigation></app-secondary-navigation>
<app-booking-modal *ngIf="selectedContact.contact_type == 'mentor'"
  [mentor]="mentor"
  [type]="type"
  [isModalVisible]="isBookingModalOpen"
  (closeModal)="closeBookingModal()">
</app-booking-modal>
<div class="overviewWrap">
  <div class="container">
    <div class="row">
      <!-- Contacts Section -->
      <div class="col-md-3 contact">
        <h3>Beskeder</h3>
        <div class="list-group">
          <ul class="contacts">
            <li *ngFor="let contact of contacts" (click)="loadMessagesForContact(contact)"
              [ngClass]="{ 'active': contact.contact_type === selectedContact.contact_type && contact.contact_id === selectedContact.contact_id}">
              <h4><b>{{ contact.first_name }} {{ contact.last_name }}</b></h4>
              <h6 class="snippet">{{ contact.last_message_content }} </h6>
              <h6 class="snippetDate">{{ contact.last_message_at | date: 'dd. MMMM yyyy - HH:mm' }}</h6>
              <div *ngIf="contact.last_message_seen != true && contact.is_receiver != false" class="bubble">
                Ny
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Messages Section -->
      <div class="col-md-9 chat" *ngIf="!selectedContact.contact_type ||  !selectedContact.contact_id">
        <h3>Vælg en kontakt</h3>
      </div>
      <div class="col-md-9 chat" *ngIf="selectedContact.contact_type && selectedContact.contact_id">
        <div class="name">
          <div class="name-content">
            <h3 *ngIf="selectedContact"> {{ selectedContact.first_name }} {{ selectedContact.last_name }}</h3>
            <a *ngIf="selectedContact.contact_type == 'mentor'" routerLink="/mentors/{{ selectedContact.contact_id }}">
              <img src="{{ assetPath }}/svgs/svg-icons/person.svg" alt="Visit Profile">
            </a>
            <a *ngIf="selectedContact.contact_type == 'mentor'" (click)="openBookingModal()">
              <img src="{{ assetPath }}/svgs/svg-icons/person.svg" alt="Visit Profile">
            </a>
          </div>
        </div>

        <!-- show Icons on right side with visit profile -->

        <div *ngIf="selectedContact" class="messages-container mb-3" infiniteScroll #messagesContainer
          [infiniteScrollUpDistance]="1" [infiniteScrollThrottle]="300" [scrollWindow]="false"
          (scrolledUp)="onScroll()">
          <div *ngIf="loading">
            <div class="spinner-container">
              <div class="spinner"></div>
              <div class="spinner-status" role="status">Arbejder</div>
            </div>
          </div>
          <!-- ... -->

          <div *ngFor="let message of messages" class="message"
            [ngClass]="{ 'sent-message': message.sender_id === user.id, 'received-message': message.sender_id !== user.id }">

            <div class="bubble">
              <p class="message-content">{{ message.content }}</p>
              <span class="message-timestamp">{{ message.created_at | date: 'dd. MMMM yyyy - HH:mm' }}</span>
              <img *ngIf="message.sender_id === user.id && message.seen == false" src="{{ assetPath }}/svgs/svg-icons/check.svg"
                class="message-status" alt="Message Status">
              <img *ngIf="message.sender_id === user.id && message.seen == true" src="{{ assetPath }}/svgs/svg-icons/check-circle.svg"
                class="message-status" alt="Message Status">
            </div>

          </div>

          <!-- ... -->

        </div>

        <!-- Message Input -->
        <div *ngIf="selectedContact.contact_type && selectedContact.contact_id" class="input-group send-message-container">
          <div class="form-group">
            <textarea class="form-control message-text" (keydown)="onTextareaKeydown($event)" [(ngModel)]="messageText"
              placeholder="Skriv din besked"></textarea>
            <img src="{{ assetPath }}/svgs/svg-icons/send.svg" class="btn btn-primary" (click)="sendMessage()"
              [class.disabled]="isSending" alt="Send Message">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>