<div class="signUpForm row align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
               <div class="heading-content">
                <h1 class="text-center mt-0 mx-auto pageTitle">
                    Opret bruger
                </h1>
                <p class="text-center mt-0 mx-auto">
                    Vælg fra nedenståden hvad der beskriver dig bedst
                </p>
               </div>
            </div>
        </div>
        <form [formGroup]="formGroup">
            <div class="formWrap">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                Fornavn
                            </label>
                        
                            <input class="form-input" id="input-type-text" formControlName="fname" name="input-type-text"
                                type="text" required />
                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                Efternavn
                            </label>
                        
                            <input class="form-input" formControlName="lname" id="input-type-text" name="input-type-text"
                                type="text" required />
                        
                        </div>
                    </div>
                </div><!--Row Ended-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                Gade/vej
                            </label>
                        
                            <input class="form-input" formControlName="street" id="input-type-text" name="input-type-text"
                                type="text" required />
                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                By
                            </label>
                        
                            <input class="form-input" formControlName="by" id="input-type-text" name="input-type-text"
                                type="text" required />
                        
                        </div>
                    </div>
                </div> <!--Row Ended-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group radioBtn">
                            <fieldset>
                                <legend class="form-label">Køn</legend>
                                <ul class="nobullet-list">
                                    <li>
                                        <div class="form-group-radio">
                                            <input id="radio-1" type="radio" name="gender"
                                                value="mand" class="form-radio radio-large " formControlName="gender" />
                                            <label for="radio-1" id="form-label-radio-1"
                                                class="">Mand </label>
                        
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group-radio">
                                            <input id="radio-2" type="radio" name="gender"
                                                value="Kvinde" class="form-radio radio-large " formControlName="gender"/>
                                            <label for="radio-2" id="form-label-radio-2"
                                                class="">Kvinde </label>
                        
                                        </div>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                </div><!--Row Ended-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                Telefon
                            </label>
                        
                            <input class="form-input" id="input-type-text" name="input-type-text"
                                type="text" required formControlName="telephone" />
                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
    
                            <label class="form-label" for="input-type-text">
                                E-mail
                            </label>
                        
                            <input class="form-input" id="input-type-text" name="input-type-text"
                                type="text" required formControlName="email"/>
                        
                        </div>
                    </div>
                </div> <!--Row Ended-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="btnWrap">
                            <button (click)="signup()">
                                Tilmelde
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>