<!-- Footer  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <img src="assets/images/footer-logo.JPG" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact">
                    <b>
                        Kontakt
                    </b>
                    <a href="mailto: kontakt@findmentor.dk">
                        kontakt@findmentor.dk
                    </a>
                    <a href="tel:(+45)60828361">(+45) 60 82 83 61</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="link">
                    <b>
                        Links
                    </b>
                    <a href="what-is-a-mentor">Hvad er en mentor</a>
                    <a href="bliv-mentor">Bliv mentor</a>
                </div>
            </div>
            <!-- TODO -->
            <!-- <div class="col-md-3">
                <div class="cookies">
                    <b>
                        Webtilgængelighed og cookies
                    </b>
                    <a href="#">
                        Tilgængelighedserklæring
                    </a>
                    <a href="#">Privatlivspolitik (cookies).</a>
                </div>
            </div> -->
        </div>
    </div>
</footer>
<!-- Footer end  -->
