@media screen and (min-width:992px) {
    .banner {
        max-height: 580px;
    }
}

/* findmentor-connect */
.findmentor-connect {
    padding: 50px 0px;
    background-color: #ffffff;
}

.findmentor-connect h3 {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}


.card {
    padding: 20px;
    border: 1px solid #BFBFBF;
    margin-top: 30px;
}

.card .header-title{
    font-weight: bold;
    font-size: 24px;
}

/* right match  */
.right-match {
    padding: 80px 0px;
}

.right-match .img-wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tags-wrap {
    display: flex;
    column-gap: 15px;
    margin-bottom: 10px;
}

.tags-wrap .tagItem {
    border: 1px solid #747474;
    padding: 5px 10px;
    border-radius: 4px;
}

.tags-wrap .tagItem p {
    margin: 0;
}

/* Frequently asked question  */
.mentor-types {
    padding: 50px 0px;
    background-color: #f4f4f4;
}

.mentor-types .accordion {
    margin-top: 30px;
}

.mentor-types .accordion>li .accordion-content,
.mentor-types .accordion>li .accordion-button {
    border-width: 0px;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mentor-types .accordion-button {
    outline: 0;
}

.mentor-types .accordion-button:hover,
.mentor-types .accordion-button[aria-expanded="true"] {
    background-color: #d0cccc;
}

.mentor-types .accordion-button[aria-expanded="true"] {
    border-radius: 4px;
}

.mentor-types h3 {
    max-width: 100%;
}


.accordion {
    display: block;
    font-size: inherit;
    margin: 0px;
    position: relative;
}

.accordion input {
    display: none;
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 50%;
    z-index: 1;
}

.accordion__header {
    border-width: 0px;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}


.accordion__header:before,
.accordion__header:after {
    background-color: #000;
    content: '';
    display: block;
    position: absolute;
    z-index: 3;
}

.accordion__header:before {
    height: 2px;
    margin-top: -1px;
    top: 50%;
    right: 20px;
    width: 8px;
}

.accordion__header:after {
    height: 8px;
    margin-top: -4px;
    top: 50%;
    right: 23px;
    width: 2px;
}

.accordion input:checked~.accordion__header {

    border-color: #15967d;
}

.accordion input:checked~.accordion__header:hover {
    border-color: #fff;
}

.accordion input:checked~.accordion__header:before {
    background-color: #000;
}

.accordion input:checked~.accordion__header:after {
    display: none;
}

.accordion:first-child .accordion__header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.accordion:last-child .accordion__header {
    border-bottom-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordion:last-child input:checked~.accordion__header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.accordion__content {
    background-color: white;
    display: none;
    padding: 20px;
}

.accordion input:checked~.accordion__content {
    display: block;
}

.accordion:last-child .accordion__content {
    border-bottom-width: 1px;
    border-radius: 0px 0px 4px 4px;
}

.accordion__content h6 {
    color: #1abc9c;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Quote  */
.quote {
    background-color: #303434;
    padding: 50px 0px;
}

.quote h1{
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-bottom: -4rem;
}

.quote .content h3,
.quote .content p {
    max-width: 100%;
    color: #fff;
}

.quote .content p {
    font-style: italic;
}