<!-- banner start  -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="heading">
                        <h1 class="align-text-center align-text-lg-left">
                            Hvad er en mentor?
                        </h1>
                        <p class="align-text-center align-text-lg-left">
                            En mentor er en erfaren person, der ud fra sine erfaringer og sine kompetencer giver
                            dig støtte, rådgivning, sparring, coaching, feedback og vejledning i en periode, så din
                            tro på at du kan udvikle dig styrkes og du bliver i stand til at mestre dit liv, uanset
                            hvilke udfordringer du står overfor.
                        </p>
                        <p class="align-text-center align-text-lg-left">
                            Mentorstøtten kan gives i forskellige grader og typer, og kan for nogen handle om at
                            der er brug for støtte til alt pga. nedsat funktionsniveau. Det kan for eksempel handle
                            om at få styr på økonomi og boligforhold og om håndteringen af mere personlige
                            problemstillinger, som at få hjemmet og familien til at fungere. Det kan også handle
                            om hjælp til at få struktur på hverdagen, så du kan komme op om morgenen og
                            deltage, eller om at lære at bruge offentlig transport. Mens det for andre kan handle
                            om at de har brug for kun lidt støtte til at komme tættere på arbejdsmarkedet, eller
                            ingen støtte, men guidning, fordi de er i arbejde og ønsker hjælp til at sætte og nå mål,
                            skabe klarhed over en problemstilling eller i det hele taget hjælp med at skabe
                            forandringer eller karriereskift.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="images-wrap">
                    <div class="img">
                        <img src="assets/images/what-is-a-mentor.png" alt="">
                    </div>
                    <div class="img">
                        <img src="assets/images/image-2-default.png" alt="">
                    </div>
                    <div class="img">
                        <img src="assets/images/image-3-default.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end  -->
<!-- findmentor Connect -->
<div class="findmentor-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mt-0">
                    FindMentor.dk forbinder kommuner
                    <br />
                    med forskellige mentortyper
                </h3>
            </div>
        </div>
        <div class="cards-wrap">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Social- og jobformidler</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Udskrivningmentor</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Afklaringsmentor</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Løsladelsesmentor</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Familiebehandler</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Bostøtte</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Erhvervsmentor</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="header-title">Coach</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- findmentor Connect END  -->
<!-- Mentorer  -->
<div class="mentor-types">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="m-0">
                    Mentorer
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-10 mx-auto">
                <section class="column">

                    <div>
                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Socialmentor</div>
                            <div class="accordion__content">
                                <p>
                                    En socialmentor har til opgave at støtte eller fastholde dig i et arbejde,
                                    uddannelse eller et beskæftigelsesrettet tilbud mv.
                                    En socialmentors funktioner kan være meget forskelligartede og
                                    vurderes ud fra, hvad det præcis er, den enkelte har særlig brug
                                    for støtte til. Ud over hjælp i tilbud, på arbejdspladsen eller i
                                    uddannelsesinstitutionen kan støtten derfor også bestå i hjælp til
                                    at overkomme andre barrierer
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Afklaringsmentor</div>
                            <div class="accordion__content">

                                <p>En afklaringsmentor står for etablering af et afklaringsforløb i en
                                    virksomhed for at få afklaret din arbejdsevne. Formålet med et afklaringsforløb,
                                    er gennem en virksomhedspraktik, at afprøve dig i en eller flere jobfunktioner
                                    i en reel jobfunktion i en reel virksomhed, hvor det afklares, hvad du har af
                                    ressourcer og kompetence. Målet er, at i under praktikforløbet finder frem
                                    til de ressourcer, som du stadig har, og hvilke muligheder det giver for en
                                    fremtidig tilknytning til arbejdsmarkedet.</p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Udskrivningsmentor</div>
                            <div class="accordion__content">
                                <p>Mentor i forbindelse med udskrivning fra psykiatrisk indlæggelse.</p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Løsladelsesmentor</div>
                            <div class="accordion__content">
                                <p>Mentor i forbindelse med løsladelse fra afsoning.</p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Uddannelsesmentor</div>
                            <div class="accordion__content">
                                <p>Mentor i forbindelse med at støtte borgere over 18 år til fastholdelse på uddannelse.
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Støttekontaktperson</div>
                            <div class="accordion__content">
                                <p>En støttekontaktperson er en person, der knyttes til børn og unge,
                                    der har behov for støtte, vejledning, eller et stabilt holdepunkt i livet.
                                    En støttekontaktperson kan være en stor hjælp for børn og unge, der har
                                    brug for voksenkontakt ud over forældrene. Støtten kan være i forhold
                                    til at få talt åbent om problemer, som bl.a. kan være i forhold til forældre,
                                    skole, søskende eller kammerater. En støttekontaktperson kan derudover
                                    for eksempel også støtte barnet eller den unges fritidsliv, bistå med
                                    hensyn til uddannelse, hjælpe den unge med at komme op om morgenen,
                                    samt at træffe de rigtige beslutninger. En støttekontaktperson kan
                                    også yde støtte på det helt nære, personlige plan og kommer i de miljøer
                                    hvor barnet/den unge har brug for det. Det kan bl.a. være ved
                                    fritidsaktiviteter, i hjemmet m.m.
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Prof. Bisidder</div>
                            <div class="accordion__content">
                                <p>En professionel bisidder er en fagprofessionel med gennemgribende
                                    erfaring indenfor socialrådgivning, socialret eller specialrådgivning,
                                    som du kan have ved din side, under samtaler med eksempelvis kommunen,
                                    lægen eller anden offentlig myndighed. Den professionelle bisidder
                                    kan være medvirkende til at styrke din retssikkerhed og din ret
                                    til at have indflydelse på sagsbehandlingen.
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Familiebehandler</div>
                            <div class="accordion__content">
                                <p>Familiebehandling gives til familier, som har brug for hjælp
                                    til at få familielivet til at fungere. Formålet med
                                    familiebehandling er at forebygge anbringelse uden for
                                    hjemmet og at styrke forældrenes kompetencer gennem et
                                    arbejde med hele familien, og derigennem styrke barnets
                                    udvikling og relationer i forhold til familie, dagtilbud,
                                    skole, uddannelse, arbejde og fritid.
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Bostøtte</div>
                            <div class="accordion__content">
                                <p>Bostøtte er en socialpædagogisk indsats for dig
                                    over 18 år med nedsat fysisk og/eller psykisk
                                    funktionsevne eller særlige sociale problemer.
                                    Mentoren vil kunne understøtte, vejlede og træne dig
                                    i oprydning og rengøring af hjemmet, tøjvask
                                    og/eller vaskeordning samt bestilling af dagligvarer,
                                    således at du på sigt selvstændigt kan varetage opgaverne.
                                </p>
                            </div>
                        </label>

                        <label class="accordion">
                            <input type='checkbox' name='checkbox-accordion'>
                            <div class="accordion__header">Coach</div>
                            <div class="accordion__content">
                                <p>En coach er en person der gennem forskellige samtaleteknikker hjælper
                                    sine klienter med at opnå deres mål, løse deres problemer eller
                                    overskue forskellige livssituationer.
                                    <br />
                                    En coach er for dig der er tæt på arbejdsmarkedet,
                                    eller er i arbejde og ønsker hjælp til at sætte og nå mål,
                                    skabe klarhed over en problemstilling eller i det hele taget
                                    hjælp med at skabe forandringer eller karriereskift.
                                </p>
                            </div>
                        </label>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Mentorer end  -->

<!-- Quote  -->
<div class="quote">
    <div class="container">
        <div class="row">
            <div class="col-md-6  mx-auto">
                <div class="content align-text-center">
                    <h1>”</h1>
                    <h3>
                        En mentor er en person, der ser mere i dig, end du selv ser,
                        og hjælper med at bringe det ud af dig
                    </h3>
                    <p>
                        - Jeppe Mouritzen, FindMentor.dk
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote end  -->