<app-secondary-navigation></app-secondary-navigation>
<div class="overviewWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inquiriesWrap">
                    <div class="topText row justify-content-between align-items-center">
                        <h5>
                            Klienter
                        </h5>
                    </div>
                    <div class="tableWrap">
                        <div class="table--responsive-scroll">
                            <table class="table mt-6" id="sortingTable">
                                <thead>
                                    <tr>
                                        <th aria-sort="ascending" class="table-header-no-wrap">Navn</th>
                                        <th aria-sort="none" class="table-header-no-wrap">CPR</th>
                                        <th aria-sort="none">Forløbstype</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Aftalenr</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Startdato</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Slutdato</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Slutevaluering</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Status</th>
                                    </tr>
                                </thead>
                                <tbody aria-live="polite">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

