
.secondaryNavWrap ul{
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 100% !important;
    /* justify-content: first baseline; */
    margin: 0;
}
.secondaryNavWrap ul li{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 0;
}
.secondaryNavWrap ul li .form-group{
    margin: 0;
}
.secondaryNavWrap ul li .form-group label::after{
    width: 75px;
    background-color: #cecece;
}
.secondaryNavWrap ul li .form-group input[type=checkbox].form-toggle:checked ~ .form-toggle-label:before{
    left: 45px;
    content: url(../../../../../assets/svgs/tick.svg);
}
.secondaryNavWrap ul li .form-group input[type=checkbox].form-toggle:checked ~ label::after{
    background-color: #a8d6b6 !important;
}
.secondaryNavWrap ul li .form-group input[type=checkbox].form-toggle ~ .form-toggle-label:before{
    content: url(../../../../../assets/svgs/cross.svg);
}
.secondaryNavWrap ul li::before{
    display: none;
}
.secondaryNavWrap ul li a{
    text-decoration: none;
    color: #353535;
    outline: 0;
    padding: 20px 0;
    padding-right: 30px;
    border-bottom: 4px solid transparent;
}

.secondaryNavWrap ul li a.active{
    padding: 20px 0px;
    border-bottom: 4px solid #abcfb2;
}
@media screen and (max-width:992px) {
    .secondaryNavWrap{
        /* display: block; */
        /* display: none; */
    }
}