<div class="secondaryNavWrap">
    <div class="container" *ngIf="type == 'mentor'">
        <ul>
            <li><a routerLink="/profile/overview" routerLinkActive="active">
                <b>
                    Mit overblik
                </b>
            </a></li>
            <li><a routerLink="/profile/clients" routerLinkActive="active">
                <b>
                    Klienter
                </b>
            </a></li>
            <li><a routerLink="/profile/account" routerLinkActive="active">
                <b>
                    Profil
                </b>
            </a></li>
        </ul>
    </div>
    <div class="container" *ngIf="type == 'commune'">
        <ul>
            <li><a routerLink="/profile/find-mentor" routerLinkActive="active">
                <b>
                    Udforsk
                </b>
            </a></li>
            <li><a routerLink="/profile/clients" routerLinkActive="active">
                <b>
                    Klienter
                </b>
            </a></li>
            <li><a routerLink="/profile/account" routerLinkActive="active">
                <b>
                    Konto
                </b>
            </a></li>
        </ul>
    </div>
    <div class="container" *ngIf="type == 'user'">
        <ul>
            <li><a routerLink="/profile/find-mentor" routerLinkActive="active">
                <b>
                    Udforsk
                </b>
            </a></li>
            <li><a routerLink="/profile/clients" routerLinkActive="active">
                <b>
                    Forespørgsler
                </b>
            </a></li>
            <li><a routerLink="/profile/account" routerLinkActive="active">
                <b>
                    Konto
                </b>
            </a></li>

        </ul>
    </div>
</div>