<div class="secondaryNavWrap">
    <div class="container">
        <ul>
            <li><a routerLink="/overview" routerLinkActive="active">
                <b>
                    Mit overblik
                </b>
            </a></li>
            <li><a href="">
                <b>
                    Klienter
                </b>
            </a></li>
            <li><a href="">
                <b>
                    Kalender
                </b>
            </a></li>
            <li><a href="">
                <b>
                    Fakturering
                </b>
            </a></li>
            <li><a href="">
                <b>
                    Ressourcer
                </b>
            </a></li>
            <li><a routerLink="/profile" routerLinkActive="active">
                <b>
                    Profil
                </b>
            </a></li>
            <li>
                <b>
                    Tilgænglig til booking
                </b>
                <div class="form-group">

                    <input id="toggle-example" type="checkbox" name="toggle-example"
                        value="1" class="form-toggle" />
                    <label for="toggle-example" class="form-toggle-label "></label>
                
                </div>
            </li>
        </ul>
    </div>
</div>