<app-secondary-navigation></app-secondary-navigation>
<div class="mentorDetailWrap">
    <div class="breadCrumbsWrap py-8">
        <nav class="breadcrumbs container" aria-label="Brødkrumme">
            <ol class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link" href="#">Forside</a>
                </li>
        
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link" routerLink="/profile/find-mentor">Find mentor</a>
                </li>
        
                <li class="breadcrumbs__list-item" aria-current="page">{{ mentor.first_name }} {{ mentor.last_name }}
                </li>
            </ol>
        </nav>
    </div>
    <div class="mainWrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="detailCard">
                        <div class="imageWrap">
                            <div class="mentorImage">
                                <img src="{{ mentor.profile_picture }}" alt="">
                            </div>
                            <div class="actionIcons row align-items-center">
                                <!-- <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" height="20px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve">
                                        <g id="XMLID_801_">
                                            <path id="XMLID_802_" d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73   C77.16,101.969,74.922,99.73,72.16,99.73z"/>
                                            <path id="XMLID_803_" d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4   c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/>
                                            <path id="XMLID_804_" d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599   c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319   c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995   C310,145.43,300.549,94.761,230.454,94.761z"/>
                                        </g>
                                        </svg>
                                </div>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 488.3 488.3" style="enable-background:new 0 0 488.3 488.3;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M314.25,85.4h-227c-21.3,0-38.6,17.3-38.6,38.6v325.7c0,21.3,17.3,38.6,38.6,38.6h227c21.3,0,38.6-17.3,38.6-38.6V124    C352.75,102.7,335.45,85.4,314.25,85.4z M325.75,449.6c0,6.4-5.2,11.6-11.6,11.6h-227c-6.4,0-11.6-5.2-11.6-11.6V124    c0-6.4,5.2-11.6,11.6-11.6h227c6.4,0,11.6,5.2,11.6,11.6V449.6z"/>
                                                <path d="M401.05,0h-227c-21.3,0-38.6,17.3-38.6,38.6c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5c0-6.4,5.2-11.6,11.6-11.6h227    c6.4,0,11.6,5.2,11.6,11.6v325.7c0,6.4-5.2,11.6-11.6,11.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c21.3,0,38.6-17.3,38.6-38.6    V38.6C439.65,17.3,422.35,0,401.05,0z"/>
                                            </g>
                                        </g>
                                        </svg>
                                </div>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" height="20px" viewBox="0 0 220.123 220.123" style="enable-background:new 0 0 220.123 220.123;" xml:space="preserve">
                                        <path  d="M45.845,220.123V28.063h-5.783V0h140v28.063h-5.783v192.061l-64.217-47.836L45.845,220.123z"/>
                                        </svg>
                                </div> -->
                            </div>
                        </div> <!--Image Wrap End-->
                        <div class="mentorInformation">
                            <div class="mentorName">
                                <h1 class="mt-0">
                                    {{ mentor.first_name }} {{ mentor.last_name }}
                                </h1>
                            </div>
                            <div class="graduated">
                                <h3 class="mt-0">
                                    Uddannet titel
                                </h3>
                                <p class="mt-0">
                                    {{ mentor.education }}
                                </p>
                            </div> <!--Graduated End-->

                            <div class="department">
                                <h3 class="mt-0">
                                    Område
                                </h3>
                                <p class="mt-0 list" *ngFor="let location of mentor.locations">
                                    {{getLocationName(location.location_type)}}
                                </p>
                            </div><!--Department End-->

                            <div class="language">
                                <h3 class="mt-0">
                                    Sprog
                                </h3>
                                <p class="mt-0 list" *ngFor="let language of mentor.languages">
                                    {{getLanguageName(language.language_type)}}
                                </p>
                            </div> <!--Language End -->

                            <div class="experience">
                                <h3 class="mt-0">
                                    Særlig erfaring med klientgruppe
                                </h3>
                                <p class="mt-0 list" *ngFor="let audience of mentor.audiences">
                                    {{getAudienceName(audience.audience_type)}}
                                </p>
                            </div><!-- Experience End-->
                            <!-- <div class="waitingTime">
                                <h3 class="mt-0">
                                    Ventetid
                                </h3>
                                <p class="mt-0">
                                    Har akuttider
                                </p>
                            </div> -->
                            
                        </div><!-- Mentor Information -->
                    </div><!--Mentor Detail Card-->
                </div> <!-- mentor Image Column End-->
                <div class="col-md-4">  
                    <div class="bookMentor">
                        <h2>
                            Book mentor
                        </h2>
                        <ul class="contactMentor">
                            <li *ngIf="hasContactType(1)">
                                <div class="icon">
                                    <img class=""src="{{assetPath}}/svgs/svg-icons/location-on.svg">
                                </div>
                                <h3>
                                    Personlig forløb
                                </h3>
                            </li>
                            <li *ngIf="hasContactType(2)">
                                <div class="icon">
                                    <img class=""src="{{assetPath}}/svgs/svg-icons/phone-iphone.svg">
                                </div>
                                <h3>
                                    Telefonisk møde
                                </h3>
                            </li>
                            <li *ngIf="hasContactType(3)">
                                <div class="icon">
                                    <img class=""src="{{assetPath}}/svgs/svg-icons/videocam.svg">
                                </div>
                                <h3>
                                    Online møde
                                </h3>
                            </li>
                        </ul>
                        <div class="status">
                            <p>Tilgængelig</p>
                            <img src="{{ assetPath }}/svgs/svg-icons/check.svg">
                        </div>
                        <div class="price">
                            <p>Timepris</p>
                            <h3>
                                300 kr
                            </h3>
                        </div>
                        <div class="buttonWrap" *ngIf="type !== 'mentor'" >
                            <button (click)="openCall()">
                                Ring mig op
                            </button>
                            <!-- <button>
                                Send besked
                            </button> -->
                            <button class="book" (click)="openBooking()">
                                Book mentor
                            </button>
                            <button class="call" (click)="callMentor()" *ngIf="type === 'commune'">
                                Se mentorens tlf nr.
                            </button>
                        </div>
                    </div>
                </div> <!-- Book Mentor Column-->
            </div> <!--Row End -->
            <div class="row">
                <div class="col-md-8">
                    <div class="biographyWrap">
                        <h3>
                            Biograf
                        </h3>
                        <p>
                            {{ mentor.description }}
                        </p>
                    </div>
                </div>
            </div> <!--Biography Row End-->
            <!-- <div class="row">
                <div class="col-md-8">
                    <div class="videoWrap">
                        <video
                         poster=
             "../../../assets/images/video.png">
                     <source src=
             "https://media.geeksforgeeks.org/wp-content/uploads/20200409094356/Placement100-_-GeeksforGeeks2.mp4"
                             type="video/mp4">
                 </video>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-8">
                    <div class="clientsWrap">
                        <h3>
                            Erfaringsområder
                        </h3>
                        <div class="tagsWrap">        
                            <div class="tag"  *ngFor="let experience of mentor.experiences">
                                {{ experienceTypeMap[experience] }}
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- Clients Row End-->
        </div><!-- container End-->
        <div class="testimonialWrap">
            <div class="testimonial">
                <div class="quote"><img src="{{assetPath}}/svgs/svg-icons/format-quote.svg" ></div>
                <h3>
                    En mentor er en person, der ser mere i dig, end du selv ser,
og hjælper med at bringe det ud af dig
                </h3>
                <p>
                    - Jeppe Mouritzen, FindMentor.dk
                </p>
            </div>
        </div><!--- Testimonial Wrap-->
    </div>
</div>

<div #modalBooking class="fds-modal" id="modal-example" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-example-title">
                Book en session med {{ mentor.first_name }} {{ mentor.last_name }}
            </h3>
            <button class="modal-close function-link" (click)="closeBooking()"
                data-modal-close>X</button>
        </div>
        <form [formGroup]="formGroupBooking">
            <div class="modal-body" *ngIf="type === 'commune'">
                <div class="col-md-12">
                    <app-text-area label="Hvad kan jeg hjælpe med" placeholder="Jeg søger hjælp til..." type="text"
                        errorMessage="Udfyld venligst feltet" hintMessage="Vejledning af gennem uddannelse..." rows="6"
                        [required]="true" [control]="$any(formGroupBooking.get('help_text'))" [maxlength]="750">
                    </app-text-area>
                </div>
                <hr class="divider">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <app-input label="Fornavn" placeholder="Borgers Fornavn" type="text"
                        errorMessage="Indtast venligst et fornavn" hintMessage="eks. Lars"
                        [required]="true" [control]="$any(formGroupBooking.get('first_name'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="Efternavn" placeholder="Borgers Efternavn" type="text"
                        errorMessage="Indtast venligst et efternavn" hintMessage="eks. Larsen"
                        [required]="true" [control]="$any(formGroupBooking.get('last_name'))">
                        </app-input>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <app-input label="CPR-Nummer" placeholder="Borgers CPR-Nummer" type="number"
                        errorMessage="Indtast venligst gyldigt CPR-Nummer" hintMessage="eks. Lars"
                        [required]="true" [control]="$any(formGroupBooking.get('cpr_number'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="Telefon nr." placeholder="Borgers telefon nummer" type="text"
                        errorMessage="Indtast venligst et gyldigt telefon nummer" hintMessage="50501010"
                        [required]="true" [control]="$any(formGroupBooking.get('phone'))">
                        </app-input>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <app-input label="Adresse" placeholder="Borgers adresse" type="text"
                            errorMessage="Indtast venligst en korrekt adresse" hintMessage="eks Amagergade 1 st tv"
                            [required]="true" [control]="$any(formGroupBooking.get('street'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="By" placeholder="Borgers by" type="text"
                            errorMessage="Indtast venligst en by" hintMessage="eks København"
                            [required]="true" [control]="$any(formGroupBooking.get('city'))">
                        </app-input>
                    </div>
                </div>
                <hr class="divider">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <app-input label="Henvisende sagsbehandler" placeholder="Sagsbehandler navn" type="text"
                            errorMessage="Indtast venligst et nav" hintMessage="Lars Larsen"
                            [required]="true" [control]="$any(formGroupBooking.get('social_worker'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <app-input label="EAN-nr" placeholder="Intast EAN-nr" type="text"
                            errorMessage="Indtast venligst dit EAN-nr" hintMessage="1234-1234"
                            [required]="true" [control]="$any(formGroupBooking.get('ean_nr'))">
                        </app-input>
                    </div>
                    <div class="col-md-6">
                        <div class="filter-wrap">
                            <ng-select [multiple]="false" placeholder="Vælg erfaring" notFoundText="Ingen resultater"
                                [(ngModel)]="selectedTypeExperience" class="form-input" required="true">
                                <ng-option *ngFor="let type of experienceType" [value]="type.id">{{type.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <hr class="divider">
                <div class="col-md-12">
                    <app-text-area label="Overordnet mål" placeholder="Målbeskrivelse" type="text"
                        errorMessage="Udfyld venligst feltet" hintMessage="Vi ønsker at opnå..." rows="6"
                        [required]="true" [control]="$any(formGroupBooking.get('goal'))" [maxlength]="250">
                    </app-text-area>
                </div>
                <hr class="divider">
                <div class="col-md-12">
                    <app-input label="Vælg startsperiode" type="date"
                        errorMessage="Indtast venligst startsdato" hintMessage="Vælg dato"
                        [required]="true" [control]="$any(formGroupBooking.get('start_date'))">
                    </app-input>
                </div>
                <div class="col-md-12">
                    <app-input label="Vælg slutsperiode" type="date"
                        errorMessage="Indtast venligst slutdato" hintMessage="Vælg dato"
                        [required]="true" [control]="$any(formGroupBooking.get('end_date'))">
                    </app-input>
                </div>
            </div>

            <div class="modal-body" *ngIf="type === 'user'">
                <div class="col-md-12">
                    <app-text-area label="Hvad kan jeg hjælpe med" placeholder="Jeg søger hjælp til..." type="text"
                        errorMessage="Udfyld venligst feltet" hintMessage="Vejledning af gennem uddannelse..." rows="6"
                        [required]="true" [control]="$any(formGroupBooking.get('help_text'))" [maxlength]="750">
                    </app-text-area>
                </div>
            </div>
            <hr class="divider">
            <div class="modal-footer">
                <div class="col-md-12">
                    <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Fejl</p>
                            <p class="alert-text">{{ errorMessage }}</p>
                        </div>
                    </div>
                    <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Success</p>
                            <p class="alert-text">Din booking er nu sendt.</p>
                        </div>
                    </div>
                    <div class="btnGroup">
                        <button class="cancel" (click)="closeBooking()" data-modal-close>Annuller</button>
                        <button (click)="bookMentor()" [disabled]="!formGroupBooking.valid" class="save">Send</button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>

<div #modalCall class="fds-modal" id="modal-example2" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-example-title">
                Ring mig op
            </h3>
            <button class="modal-close function-link" (click)="closeCall()"
                data-modal-close>X</button>
        </div>
        <form [formGroup]="formGroupCall">
            <div class="modal-body">
                <div class="col-md-6">
                    <app-input label="Hvad nummer vil du træffes på" placeholder="Telefon nr" type="text"
                    errorMessage="Indtast venligst et gyldigt telefon nummer" hintMessage="50501010"
                    [required]="true" [control]="$any(formGroupCall.get('phone_to_call'))">
                    </app-input>
                </div>
                <div class="col-md-3">
                    <app-input label="Tidsrum fra" placeholder="Telefon nr" type="time"
                    errorMessage="Indtast venligst klokkeslæt" hintMessage="12.00"
                    [required]="true" [control]="$any(formGroupCall.get('from'))">
                    </app-input>
                </div>
                <div class="col-md-3">
                    <app-input label="Tidsrum til" placeholder="Telefon nr" type="time"
                    errorMessage="Indtast venligst klokkeslæt" hintMessage="12.00"
                    [required]="true" [control]="$any(formGroupCall.get('to'))">
                    </app-input>
                </div>
            </div>
            <hr class="divider">
            <div class="modal-footer">
                <div class="col-md-12">
                    <div *ngIf="errorMessage!=''" class="alert alert-error" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Fejl</p>
                            <p class="alert-text">{{ errorMessage }}</p>
                        </div>
                    </div>
                    <div *ngIf="success" class="alert alert-success" role="alert" aria-atomic="true">
                        <div class="alert-body">
                            <p class="alert-heading">Success</p>
                            <p class="alert-text">Din anmodning om at blive ringet op er nu sendt..</p>
                        </div>
                    </div>
                    <div class="btnGroup">
                        <button class="cancel" (click)="closeCall()" data-modal-close>Annuller</button>
                        <button (click)="bookCall()" [disabled]="!formGroupCall.valid" class="save">Send</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div #modalPhone class="fds-modal" id="modal-example2" aria-hidden="true" role="dialog"
    aria-modal="true" aria-labelledby="modal-id-1-title" tabindex="-1">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-example-title">
                Mentorens telefon nummer
            </h3>
            <button class="modal-close function-link" (click)="closePhone()"
                data-modal-close>X</button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <label class="form-label" for="form-error">
                    Telefon nummer
                </label>
                <input #phoneInput disabled class="form-input" placeholder="{{ mentor.phone }}" type="text">     
            </div>
        </div>
        <hr class="divider">
        <div class="modal-footer">
            <div class="col-md-12">
                <div *ngIf="showToast" class="toast toast-info show" aria-atomic="true">
                    <div class="toast-icon"></div>
                    <div class="toast-message">
                        <p><strong id="notification-info-heading">Telefon nummeret er kopieret</strong></p>
                        <!-- <button class="toast-close" aria-describedby="notification-info-heading">Luk</button> -->
                    </div>
                </div>
                <div class="btnGroup">
                    <button class="cancel" (click)="closePhone()">Annuller</button>
                    <button (click)="copyPhone()" class="save">Kopier</button>
                </div>
            </div>
        </div>
    </div>
</div>