/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
a,
p,
b,
button {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  max-width: 100% !important;
}

.text-center {
  text-align: center;
}

.nav.login.is-visible .mobile-menu-topbar {
  display: flex !important;
}

.filters ng-select .ng-value {
  background-color: #3c5ccd;
  color: #fff;
  padding: 2px 7px 2px 4px;
  border-radius: 4px;
}

.filters .ng-value .ng-value-icon.left {
  margin-right: 5px;
  background-color: #617bd7;
  padding: 0px 4px;
}

.ng-dropdown-panel-items.scroll-host {
  background-color: #fff;
  padding: 10px 5px;
}

.filters ng-select .ng-clear-wrapper {
  display: none;
}

.ng-select-container .ng-arrow-wrapper {
  width: 25px;
  padding-right: 5px;
}

.ng-select-container .ng-arrow-wrapper .ng-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 6px solid rgb(110, 110, 110);
}

.ng-select .ng-has-value .ng-placeholder {
  display: none;
}