<!-- banner start  -->
<div class="banner">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="left-content">
                  <div class="heading">
                      <h1 class="align-text-center align-text-lg-left">
                         Den smarte måde <br class="d-none d-lg-block ">
                         at booke mentor
                      </h1>
                      <p class="align-text-center align-text-lg-left">
                         Book rådgivning med en kvalificeret mentor <br class="d-none d-lg-block">
                         Online, telefonisk eller personligt.
                      </p>
                  </div>
                  <div class="input-wrap">
                      <div class="search-icon">
                         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 487.95 487.95" style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
                             <g>
                                 <g>
                                     <path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1    c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4    c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
                                 </g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             <g>
                             </g>
                             </svg>
                      </div>
                      <form action="">
                          <input list="browsers" name="browser" id="browser" placeholder="Hvad ønsker du hjælp til?">

                          <datalist id="browsers">
                            <option value="Edge">
                            <option value="Firefox">
                            <option value="Chrome">
                            <option value="Opera">
                            <option value="Safari">
                          </datalist>
                      <a type="submit"> Find Mentor</a>
                     </form>
                  </div>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="images-wrap">
                <div class="img">
                  <img src="assets/images/banner-img1.png" alt="">
                </div>
                <div class="img">
                  <img src="assets/images/banner-img2.png" alt="">
                </div>
                <div class="img">
                  <img src="assets/images/banner-img3.png" alt="">
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Banner end  -->
<!-- Get the Help start  -->
<div class="get-help">
<div class="container ">
  <div class="row">
      <div class="col-md-5">
          <div class="get-help-content">
              <h3>
                  Få den hjælp og rådgivning du fortjener
              </h3>
              <p>
                  FindMentors platform faciliterer en bookingfunktion, som forbinder dig med
hhv. støttekontaktpersoner 018 årige, støttekontaktpersoner for U18 årige, og
socialpædagogisk vejleder, og mentorer i form af virksomhedsmentor,
uddannelsesmentor, og socialmentor osv.
              </p>
              <p>
                  Vi forstår, at indrømmelse af behovet for hjælp er det første skridt i retning af at
forbedre dit liv, men at finde den rigtige mentor kan være vanskeligt. Vi har gjort
det let at søge efter mentorer og sende dem en sikker fortrolig besked eller
kontakte dem direkte. Du kan være sikker på, at dit privatliv respekteres og
beskyttes, mens du finder den hjælp, du fortjener.
              </p>
          </div>
      </div>
      <div class="col-md-7">
          <div class="help-img">
              <img src="assets/images/help-text.JPG" alt="">
          </div>
      </div>
  </div>
</div>
</div>
<!-- Get the Help End  -->
<!-- how does it work  -->
<div class="how-does-it-work">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="text-center mt-0">
                  Hvordan virker det
              </h3>
          </div>
      </div>
     <div class="cards-wrap">
      <div class="row">
          <div class="col-md-4">
              <div class="card text-center">
                  <div class="card-header">
                      <h2 class="header-title">Udforsk mentorer</h2>
                  </div>
              <div class="card-image">
                  <img src="assets/images/exploreMentor.jpg" alt="">
              </div>
                  <div class="assets/images/card-text ">
                      <p>Søg blandt erfarne og kvalificerede
                          mentorer og find den rigtige for dig.
                          Vi screener alle, så du kun
                          arbejder med de bedste</p>
                  </div>

              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-center">
                  <div class="card-header">
                      <h2 class="header-title">Kontakt mentor</h2>
                  </div>
              <div class="card-image">
                  <img src="assets/images/contactMentor.jpg" alt="">
              </div>
                  <div class="card-text ">
                      <p>Efter du har fundet mentoren,
                          kan du tage kontakt og starte
                          et forløb.</p>
                  </div>

              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-center">
                  <div class="card-header">
                      <h2 class="header-title">Mærk forandring</h2>
                  </div>
              <div class="card-image">
                  <img src="assets/images/changeMentor.JPG" alt="">
              </div>
                  <div class="card-text">
                      <p>Start med at skabe positiv
                          forandring i dit liv, så du når til
                          hvor du ønsker.</p>
                  </div>

              </div>
          </div>

      </div>
     </div>
  </div>
</div>

<!-- How Does it Work end  -->
<!-- the right match  -->
<div class="right-match">
<div class="container">
 <div class="right-match-wrap">
  <div class="row">
      <div class="col-md-6">
          <div class="heading">
              <h2>
                  Det rette match
              </h2>
              <p>
                  Vi tror på, at matchet mellem dig og mentoren er alt afgørende for at det
bliver et succesrigt forløb. Gevinsten ved at investere lidt tid på at finde den
rette mentor er, at du hurtigere vil kunne mærke en udvikling.
              </p>
              <p>
                  Findmentor giver det tilstrækkelige overblik der skal til for at du kan skabe
et kvalificeret valg. Vi gør det nemmere, hurtigere og smidigere at finde den
bedste til opgaven allerede fra første forsøg. Matchet er et fundament der
skaber de bedste resultater på kortest tid.
              </p>
          </div>
      </div>
      <div class="col-md-6">
          <div class="img-wrap">
              <img src="assets/images/right-match.JPG" alt="">
          </div>
      </div>
  </div>
  <div class="row">

      <div class="col-md-6">
          <div class="img-wrap">
              <img src="assets/images/switch.JPG" alt="">
          </div>
      </div>
      <div class="col-md-6">
          <div class="heading">
              <h2>
                  Kommuniker på den måde <br>
                  du foretrækker
              </h2>
             <div class="tags-wrap">
                 <div class="tagItem">
                     <p>Personligt</p>
                 </div>
                 <div class="tagItem">
                     <p>
                      Videosamtale
                     </p>
                 </div>
             </div>
             <div class="tags-wrap">
                 <div class="tagItem">
                     <p>
                      Chat
                     </p>
                 </div>
                 <div class="tagItem">
                     <p>
                      Telefonsamtale
                     </p>
                 </div>
             </div>
          </div>
      </div>
  </div>
 </div>
</div>
</div>
<!-- The Right Match end  -->

<!-- FAQ  -->
<div class="faq">
<div class="container">
  <div class="row">
      <div class="col-md-12 text-center">
          <h3 class="m-0">
              Ofte stillede spørgsmål
          </h3>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-7 col-md-10 mx-auto">
        <section class="column">

          <div>
            <label class="accordion">
              <input type='checkbox' name='checkbox-accordion'>
              <div class="accordion__header">
                Hvem er mentorerne

            </div>
              <div class="accordion__content">

                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </label>
            <label class="accordion">
              <input type='checkbox' name='checkbox-accordion'>
              <div class="accordion__header"> Hvem er mentorerne</div>
              <div class="accordion__content">

                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </label>
            <label class="accordion">
              <input type='checkbox' name='checkbox-accordion'>
              <div class="accordion__header"> Hvem er mentorerne</div>
              <div class="accordion__content">

                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </label>
            <label class="accordion">
              <input type='checkbox' name='checkbox-accordion'>
              <div class="accordion__header"> Hvem er mentorerne</div>
              <div class="accordion__content">

                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </label>

          </div>
        </section>
      </div>
  </div>
</div>
</div>
<!-- FAQ end  -->

<!-- Get Started  -->
<div class="get-started">
  <div class="container">
      <div class="row">
          <div class="col-md-6  mx-auto">
              <div class="content align-text-center">
                  <h3>
                      Lad os få dig igang
                  </h3>
                  <p>
                      Punchline og final cta tekst her. Søg blandt erfarne og kvalificerede
mentorer som hjælper dig med lige den rådgivning du har brug for.
                  </p>
                  <div class="btn-group">
                      <button>
                          Opret bruger
                      </button>
                      <button>
                          Læs mere
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Get Started end  -->
