<app-secondary-navigation></app-secondary-navigation>
<div class="overviewWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inquiriesWrap">
                    <div class="topText row justify-content-between align-items-center">
                        <h5>
                            Bookinger
                        </h5>
                        <!-- <div class="calender row">
                            <p>
                                Viser for perioden
                            </p>
                            <button>
                                Seneste
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                    <path
                                        d="M19,4H17V3a1,1,0,0,0-2,0V4H9V3A1,1,0,0,0,7,3V4H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm1,15a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V12H20Zm0-9H4V7A1,1,0,0,1,5,6H7V7A1,1,0,0,0,9,7V6h6V7a1,1,0,0,0,2,0V6h2a1,1,0,0,1,1,1Z" />
                                </svg>
                            </button>
                        </div> -->
                    </div>
                    <div class="tableWrap">
                        <div class="table--responsive-scroll">
                            <table class="table mt-6" id="sortingTable">
                                <thead>
                                    <tr>
                                        <th aria-sort="ascending" class="table-header-no-wrap">
                                            Borger navn
                                        </th>
                                        <th *ngIf="userType == 'commune' || userType == 'user'">
                                            Mentor navn
                                        </th>
                                        <th aria-sort="none" class="table-header-no-wrap" *ngIf="userType == 'commune'">
                                            CPR nummer</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Dato</th>
                                        <th aria-sort="none">Forløbstype</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody aria-live="polite">
                                    <tr *ngFor="let booking of bookings">
                                        <ng-container *ngIf="0<pageSizeBookings">
                                            <td *ngIf="userType == 'mentor'">
                                                <div class="dataWrap">
                                                    <ng-container *ngIf="booking.users">
                                                        {{booking.users.first_name}} {{booking.users.last_name}}
                                                    </ng-container>
                                                    <ng-container *ngIf="booking.communes">
                                                        {{booking.first_name}} {{booking.last_name}}
                                                    </ng-container>
                                                </div>
                                            </td>
                                            <td *ngIf="userType == 'commune' || userType == 'user'">
                                                <div class="dataWrap">
                                                    <div>
                                                        {{booking.mentor.first_name}} {{booking.mentor.last_name}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dataWrap">
                                                    <!-- {{item.date}} -->
                                                    {{booking.created_at | date: 'dd-MM-yyyy'}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="tag m-0">
                                                    <!-- {{item.first_name}} -->
                                                    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dataWrap">
                                                    <div class="noteWrap">
                                                        <p class="m-0">
                                                            {{booking.help_text}}
                                                        </p>
                                                        <button>
                                                            Besvar
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="pagination">
                                                <div class="pageSize">
                                                    <div class="form-group ">
                                                        <label class="form-label" for="options">
                                                            Antal pr. side
                                                        </label>

                                                        <select #pageSizeValue class=" form-select" name="options"
                                                            id="options" (change)="changePageSizeBookings(pageSizeValue.value)">

                                                            <option value="10">10</option>

                                                            <option value="15">15</option>

                                                            <option value="25">25</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="page">
                                                    <button (click)="prevPageBookings()" [disabled]="currentPageBookings === 1">
                                                        <img class=""src="{{assetPath}}/svgs/svg-icons/chevron-left.svg">
                                                    </button>
                                                    <span>
                                                      {{currentPageBookings}}/{{ceil(totalItemsBookings / pageSizeBookings)}}
                                                    </span>
                                                    <button (click)="nextPageBookings()" [disabled]="(currentPageBookings) * pageSizeBookings >= totalItemsBookings">
                                                        <img class=""src="{{assetPath}}/svgs/svg-icons/chevron-right.svg">
                                                  </button>
                                                  </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inquiriesWrap">
                    <div class="topText row justify-content-between align-items-center">
                        <h5>
                            Ring mig op
                        </h5>
                    </div>
                    <div class="tableWrap">
                        <div class="table--responsive-scroll">
                            <table class="table mt-6" id="sortingTable">
                                <thead>
                                    <tr>
                                        <th *ngIf="userType == 'commune' || userType == 'user'">
                                            Mentor Navn</th>
                                        <th aria-sort="none" class="table-header-no-wrap">
                                            Telefon nummer</th>
                                        <th aria-sort="none" class="table-header-no-wrap">Fra</th>
                                        <th aria-sort="none">Tid</th>
                                        <th *ngIf="userType == 'commune' || userType == 'user'">Godkendt</th>
                                    </tr>
                                </thead>
                                <tbody aria-live="polite">
                                    <tr *ngFor="let call of calls">
                                        <ng-container *ngIf="0<pageSizeCalls">
                                            <td>
                                                <div class="dataWrap">
                                                    {{call.phone_to_call}}
                                                </div>
                                            </td>
                                            <td *ngIf="userType == 'commune'">
                                                <div class="dataWrap">
                                                    <div class="tag m-0">
                                                        <!-- {{item.inquiry}} -->
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dataWrap">
                                                    <ng-container *ngIf="call.users">
                                                        {{call.users.first_name}} {{call.users.last_name}}
                                                    </ng-container>
                                                    <ng-container *ngIf="call.communes">
                                                        {{call.communes.first_name}} {{call.communes.last_name}}
                                                    </ng-container>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dataWrap">
                                                    {{call.from}} til {{call.to}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dataWrap">
                                                    <div class="noteWrap">
                                                        <p class="m-0">
                                                            <!-- {{item.note}} -->
                                                        </p>
                                                        <button>
                                                            Besvar
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="pagination">
                                                <div class="pageSize">
                                                    <div class="form-group ">
                                                        <label class="form-label" for="options">
                                                            Antal pr. side
                                                        </label>

                                                        <select #pageSizeValue class=" form-select" name="options"
                                                            id="options" (change)="changePageSizeCalls(pageSizeValue.value)">

                                                            <option value="10">10</option>

                                                            <option value="15">15</option>

                                                            <option value="25">25</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="page">
                                                    <button (click)="prevPageCalls()" [disabled]="currentPageCalls === 1">
                                                        <img class=""src="{{assetPath}}/svgs/svg-icons/chevron-left.svg">
                                                    </button>
                                                    <span>
                                                      {{currentPageCalls}}/{{ceil(totalItemsCalls / pageSizeCalls)}}
                                                    </span>
                                                    <button (click)="nextPageCalls()" [disabled]="(currentPageCalls) * pageSizeCalls >= totalItemsCalls">
                                                        <img class=""src="{{assetPath}}/svgs/svg-icons/chevron-right.svg">
                                                    </button>
                                                  </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>